<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Innuentropia</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="../stylesheets/style.css" />


  {{!-- MapBox --}}
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css'
    type='text/css' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>

</head>

<body>
  <nav>
    <div class="nav-wrapper black">
      <a href="/feed" class="brand-logo"><img src="/images/logo innuentropia_small.png" width="170" height="auto"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if logged}}
        <li><a href="/profile/{{user_id}}">Profile</a></li>
        {{!-- <li><a href="/editprofile">Edit Profile</a></li> --}}
        <li><a class="waves-effect waves-light btn gray modal-trigger" href="#newpost">Create Post</a></li>
        {{!-- <li><a class="waves-effect waves-light btn orange modal-trigger" href="#event">Create Event</a></li> --}}
        <li><a href="/logout">logout</a></li>
        {{!-- {{else}}
          <li><a href="/login">login</a></li> --}}
        {{/if}}
      </ul>
    </div>
  </nav>
  {{{body}}}




  {{!-- Modals --}}

  {{!-- Event --}}
  {{!-- <div class="modal" id="event">
    <div class="modal-content">
      <h3>Create a new awesome event</h3>
      <div class="row">
        <br>
        <form class="col s12" method="POST" action="/event/create">
          <div class="row">
            <div class="input-field col s12">
              <input id="title" type="text" name="title">
              <label for="title">Event Name</label>
            </div>
            <div class="input-field col s12">
              <input id="description" type="text" name="description">
              <label for="description">Event Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <div id='map'></div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input id="lng" type="text" name="location[coordinates][0]" hidden>
              </div>
              <div class="input-field col s4">
                <input id="lat" type="text" name="location[coordinates][1]" hidden>
              </div>
              <div class="input-field col s4">
                <input id="address" type="text" name="location[address]" >
              </div>
            </div>
          </div>
          <button class="btn waves-effect waves-light red" type="submit">Create
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div> --}}

  {{!-- Event New Project --}}
  {{!-- <div class="modal" id="newproject">
    <div class="modal-content">
      <h3>Create a new awesome project</h3>
      <div class="row">
        <br>
        <form class="col s12" method="POST" action="/project/create">
          <div class="row">
            <div class="input-field col s12">
              <input id="title" type="text" name="title">
              <label for="title">Project Name</label>
            </div>
            <div class="input-field col s12">
              <input id="description" type="text" name="description">
              <label for="description">Project Description</label>
            </div>
            <div class="input-field col s12">
              <input id="status_project" type="text" name="status_project">
              <label for="status_project">Project Status</label>
            </div>
            <div class="input-field col s12">
              <input id="req_skills" type="text" name="req_skills">
              <label for="req_skills">Skills required for the project</label>
            </div>
            <div class="input-field col s12">
              <input id="ending_date" type="date" name="ending_date">
              <label for="ending_date">Estimated project ending date</label>
            </div>
            <div class="input-field col s12">
              <input id="external_link" type="url" name="external_link">
              <label for="external_link">External project link</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light red" type="submit">Create
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
  </div> --}}

  {{!-- Event New Post --}}
  <div class="modal" id="newpost">
    <div class="modal-content">
      <h3>Create a brand new post</h3>
      <div class="row">
        <br>
        <form class="col s12" method="POST" action="/post/create" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field col s12">
              <input id="title" type="text" name="title">
              <label for="title">Post Title</label>
            </div>
            <div class="input-field col s12">
              <input id="description" type="text" name="description">
              <label for="description">Post Description</label>
            </div>
            <div class="col s12">
              <div>
                <label for="photo"></label>
                <input type="file" name="photo" id="photo" accept="image/*">
              </div>
            </div>
          </div>
          <button class="btn waves-effect waves-light red" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>

  {{!-- Mapbox --}}
  {{!-- <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZWNhem9ybGEiLCJhIjoiY2szNjI3M2tkMDdjdjNocXA2bTl4ZThvdiJ9.Z4j_rPWQgMRpRRFW6na_ug';
    var map = new mapboxgl.Map({
      container: 'map',
      style: "mapbox://styles/mapbox/streets-v11",
      center: [0, 0],
      zoom: 1.5
    });
    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
      marker: true,
    });
    map.addControl(geocoder);
    geoCoder.on('results', (results) => {
      document.querySelector('#address').value = results.features[0].place_name
      document.querySelector('#lat').value = results.features[0].center[1];
      document.querySelector('#lng').value = results.features[0].center[0];
    });
  </script> --}}

  {{!-- Modal Engine --}}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let elements = document.querySelectorAll('.modal');
      let ins = M.Modal.init(elements);
    });
  </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="application/javascript" src="../javascripts/{{script}}.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

</html>