<div class="container" id="profile_conteiner">
  <div class="row" id="profile_bg">

    {{!-- //Imagen profile --}}
    <div class="col s6">
      <img id=profile_pic src="/images/dali_small.png" alt="profile imagen">
    </div>

    {{!-- About Me --}}
    <div class="row">
      <div class="col s12 m6">
        <div class="card grey" id="card_aboutme">
          <div class="card-content white-text">
            <span class="card-title">About Me</span>
            <p>Describe yourself and the thing you like.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  {{!-- segmento de Skills-tags --}}
  <div class="conteiner" id="espacio_tags">
    <div class="row" class="col s12">
      <h3> My Skills</h3>
    </div>
  </div>
  {{!-- Conteiner para event & projects segmentos paralelos --}}
  <div class="conteiner">
    <div class="row" id="cont_ev_y_pro">
      {{!-- Events profile --}}
      <div class="col s6 ">
        <h3> Your Latest Event</h3>
        <!-- Modal Trigger  Event-->
        <a class="waves-effect waves-light btn orange modal-trigger" href="#event">New Event</a>
      </div>
      {{! -- Projects --}}
      <div class="row" id="cont_pro">
        <div class="col s6 ">
          <h3> Your Latest Proyect</h3>
          <!-- Modal Trigger Project -->
          <a class="waves-effect waves-light btn orange modal-trigger" href="#newproject">New Project</a>
        </div>
      </div>
    </div>
  </div> {{!-- fin container  event & projects   --}}
  {{!-- Conteiner para posts & follows segmentos paralelos --}}
  <div class="conteiner">
    <div class="row" id="cont_post_y_foll">
      {{!-- Post profile --}}
      <div class="col s6" id="cont_post">
        <h3> Your Posts</h3>
        <button>New Post</button>
      </div>
      {{! -- Following --}}
      <div class="row">
        <div class="col s3 " id="cont_following">
          <h3> Followers</h3>
        </div>

        {{! -- Following --}}
        <div class="col s3 " id="cont_followers">
          <h3>Following</h3>
        </div>
        <button>Follow Me</button>
      </div>
    </div>
  </div> {{!-- fin container  follow & following   --}}


  <!-- Modal Structure -->
  {{!-- Event --}}
  <div class="modal" id="event">
    <div class="modal-content">
      <h3>Create a new awesome event</h3>
      <div class="row">
        <br>
        <form class="col s12" method="POST" action="/event/create">
          <div class="row">
            <div class="input-field col s12">
              <input id="title" type="text" name="title">
              <label for="title">Event Name</label>
            </div>
            <div class="input-field col s12">
              <input id="description" type="text" name="description">
              <label for="description">Event Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <div id='map'></div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="lng" type="text" name="location[coordinates][0]" hidden>
              </div>
              <div class="input-field col s6">
                <input id="lat" type="text" name="location[coordinates][1]" hidden>
              </div>
              <div class="input-field col s6">
                <input id="address" type="text" name="location[address]" hidden>
              </div>
            </div>
          </div>
          <button class="btn waves-effect waves-light red" type="submit">Create
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- Event New Project --}}
<div class="modal" id="newproject">
  <div class="modal-content">
    <h3>Create a new awesome project</h3>
    <div class="row">
      <br>
      <form class="col s12" method="POST" action="/event/create">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" name="title">
            <label for="title">Project Name</label>
          </div>
          <div class="input-field col s12">
            <input id="description" type="text" name="description">
            <label for="description">Project Description</label>
          </div>
          <div class="input-field col s12">
            <input id="status_project" type="text" name="status_project">
            <label for="status_project">Project Status</label>
          </div>
          <div class="input-field col s12">
            <input id="people_needed" type="text" name="people_needed">
            <label for="people_needed">Talents for the project</label>
          </div>
          <div class="input-field col s12">
            <input id="ending_date" type="date" name="ending_date">
            <label for="ending_date">Project ending date</label>
          </div>
          <div class="input-field col s12">
            <input id="external_link" type="url" name="external_link">
            <label for="external_link">External link</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light red" type="submit">Create
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>
</div>

<script>
  document.querySelector('input[name="photoURL"]').addEventListener('change', (e) => {
    document.querySelector('label.custom-file-label span').innerText = e.target.files[0].name
  });
</script>