<div>
  <img src="/public/images/smoke.jpeg" alt="background ">
  <h1>Profile Page</h1>
  <img src="/public/images/dali.jpg" alt="profile imagen">
</div>
<div>
  <p>Seccion de tags /lateral</p>
  <button>Add Tag </button>
</div>
<div>
  <h4>Seccion de proyectos</h4>
  <p>Mostrar mis ultimos proyectos</p>
  <button>Mis Proyectos </button>
</div>

<div>
  <h4>Seccion de amigos</h4>
  <p>Mostrar 3~5 amigos</p>
  <button>Mis Amigos </button>
</div>

<div>
  <h4/h4>Seccion de Eventos</h4> <p>Mostrar 3~5 eventos</p>
    <button>Mis Eventos </button>
</div>