<div id="profile_page">
  <img id=profile_bg src="/images/smoke.jpeg" alt="background ">
  <h1 id=profile_h1> Profile Page</h1>
  <img id=profile_pic src="/images/dali.jpg" alt="profile imagen">
</div>

{{!-- los Tabs --}}

<ul class="tabs tabs-fixed-width tab-demo z-depth-1 ">
  <li class="tab"><a href="#projects">Proyectos</a></li>
  <li class="tab"><a class="active" href="#friends">Amigos</a></li>
  <li class="tab"><a href="#events">Eventos</a></li>
  <li class="tab"><a href="#chips">Etiquetas</a></li>
</ul>
<div id="projects" class="col s12">
  <div>
    <h4>Seccion de proyectos</h4>
    <p>Mostrar mis ultimos proyectos</p>
    <button id=nuevoProy> New Project </button>
  </div>
</div>
<div id="friends" class="col s12">
  <div>
    <h4>Seccion de amigos</h4>
    <p>Mostrar 3~5 amigos</p>
    <button>Add Friend </button>
  </div>
</div>
<div id="events" class="col s12">
  <div>
    <h4/h4>Seccion de Eventos</h4> <p>Mostrar 3~5 eventos</p>
      <button>New Event </button>
  </div>
</div>
<div id="chips" Etiquetas="col s12">
  <div>
    <p>Seccion de tags /lateral</p>
    {{!-- inicia chips --}}
    <div class="chips"></div>

    <!-- termina chips -->

    <div class="container section">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Test 1</a></li>
            <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
            <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
            <li class="tab col s3"><a href="#test4">Test 4</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
      </div>
    </div>{{!--fin de tabs   --}}


  </div>
</div>
</div>